{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}

<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Zdjęcie</th>
                <th>Nazwa</th>
                <th>Kolor</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th>Zniżka</th>
                <th>Suma</th>
                <th>Edytuj</th>
                <th>Usuń</th>
            </thead>
            <tbody>
                {% for key , produkt in session['Koszyk'].items() %}
                {% set znizka = "%0.2f" |format((produkt.znizka/100) * produkt.cena|float * produkt.ilosc|float) %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><img src="{{url_for('static',filename='images/'+produkt.zdjecie)}}" alt="{{produkt.nazwa}}" width="50" height="45"></td>
                    <td>{{produkt.nazwa}}</td>
                    <form action="{{url_for('edytujkoszyk', code=key)}}" method="post">
                    <td>
                      {% set kolory = produkt.kolory.split(',') %}
                      <label for="kolory">Kolory:</label>
                      <select name="kolor" id="kolor">
                          <option value="{{produkt.kolor}}" style="display: none;">{{produkt.kolor|capitalize}}</option>
                         {% for kolor in kolory %}
                         {% set kol = kolor.split(':') %}
                         <option value="{{kol[0]}}">{{kol[0]|capitalize}}</option>
                         {% endfor %}
                      </select>
                        

                    </td>
                    <td>{{produkt.cena}},-</td>
                    <td><input type="number" name="ilosc" min="1" max="10" value="{{produkt.ilosc}}"></td>
                    {% if produkt.znizka > 0 %}
                    <td>{{produkt.znizka}}% &nbsp; = {{znizka}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% set suma = produkt.ilosc|int * produkt.cena|float %}
                    <td>{{"%0.2f"|format((suma|float) - znizka|float)}},-</td>
                    <td><button type="submit" class="btn btn-sm btn-info">Edytuj</button></td>
                </form>
                    <td><a href="{{url_for('usunprzedmiot', id=key)}}" class="btn btn-sm btn-danger">Usuń</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
                <table class="table table-sm">
                <tr>
                    <td></td>
                    <td><a href="/" class="btn btn-success">Przejdź dalej</a></td>
                    <td width="35%"></td>
                    <td><h5>Podatek: {{podatek}}</h5></td>
                    <td><h4>{{lacznasuma}},-</h4></td>
                    <td> <a href="{{url_for('wyczysckoszyk')}}" class="btn btn-danger btn-sm float-right mr-2">Wyczyść</a> </td>
                </tr>
            
        </table>
    </div>
</div>
</div>
{% endblock content %}
