<!-- navbar start -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Strona główna</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Wszystkie produkty</a>
            </li>
    
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Marki
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for marka in marki %}
                <a class="dropdown-item" href="{{url_for('get_marka', id = marka.id)}}">{{marka.name}}</a>
                {% endfor %}
              </div>
            </li>
    
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kategorie
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for kategoria in kategorie %}
                <a class="dropdown-item" href="{{url_for('get_kategoria', id = kategoria.id)}}">{{kategoria.name}}</a>
                {% endfor %}
              </div>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('getKoszyk')}}" tabindex="-1">Koszyk ({{session['Koszyk']|length}})</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="{{url_for('wynik')}}">
            <input class="form-control mr-sm-2" type="search" placeholder="Szukaj" aria-label="Search" name="q">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
          </form>
        </div>
      </nav>
    </div>
    <!-- navbar koniec -->