{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}

<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            Nr zamówienia: {{zamowienia.faktura}}
            <br>
            Status: {{zamowienia.status}}
            <br>
            Dane klienta: {{klient.dane}}
            <br>
            Email klienta: {{klient.email}}
            <br>
            Kontakt klienta: {{klient.kontakt}}
            <br>
            <br>
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Nazwa</th>
                <th>Kolor</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th>Zniżka</th>
                <th>Suma</th>
            </thead>
            <tbody>
                {% for key , produkt in zamowienia.zamowienia.items() %}
                {% set znizka = "%0.2f" |format((produkt.znizka/100) * produkt.cena|float * produkt.ilosc|float) %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{produkt.nazwa}}</td>
                    <form action="{{url_for('edytujkoszyk', code=key)}}" method="post">
                    <td> 
                        {{produkt.kolor|capitalize}}                 
                    </td>
                    <td>{{produkt.cena}},-</td>
                    <td>{{produkt.ilosc}}</td>
                    {% if produkt.znizka > 0 %}
                    <td>{{produkt.znizka}}% &nbsp; = {{znizka}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% set suma = produkt.ilosc|int * produkt.cena|float %}
                    <td>{{"%0.2f"|format((suma|float) - znizka|float)}},-</td>
                </form>
                </tr>
                {% endfor %}
            </tbody>
            </table>
                <table class="table table-sm">
                <tr>
                    <td>
                        {% if zamowienia.status == 'Zapłacone' %}
                        {% else %}
                        <form action="{{url_for('platnosc')}}" method="POST">
                        {% set ilosc = sumaCalosc.replace('.','') %}
                        <input type="hidden" name="ilosc" value="{{ilosc}}">
                        <input type="hidden" name="faktura" value="{{zamowienia.faktura}}">
                        <script
                          src="https://checkout.stripe.com/checkout.js"
                          class="stripe-button"                    
                          data-key="pk_test_51KEzQQJbsOPtazjmDvqi5okBwviAIFg6TSg8FMyPnbnPKqqXcxLS0C6L7OOFAzGFIaNM98osOMqhSwsFlJG9eV9l00Fg3IM3lr"
                          data-locale: "pl"
                          data-label="Zapłać kartą"
                          data-name="Zapłać"
                          data-description="Płatność kartą"
                          data-amount="{{ilosc}}"
                          data-currency="pln">
                        </script>
                      </form>
                      {% endif %}
                    </td>
                    <td width="35%"></td>
                    <td><h5>Podatek: {{podatek}},-</h5></td>
                    <td><h4>Suma: {{sumaCalosc}},-</h4></td>
                    <td>
                            <form action="{{url_for('get_pdf', faktura=zamowienia.faktura)}}" method="post">
                            <button type="submit" class="btn btn-info btn-sm float-right mr-2">Pobierz PDF</button>
                        </form>
                    </td>    
                </tr>
            
        </table>
    </div>
</div>
</div>
{% endblock content %}
