{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}

<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            Nr zamówienia: {{zamowienia.faktura}}
            <br>
            Status: {{zamowienia.status}}
            <br>
            Dane klienta: {{klient.dane}}
            <br>
            Email klienta: {{klient.email}}
            <br>
            Kontakt klienta: {{klient.kontakt}}
            <br>
            <br>
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Nazwa</th>
                <th>Kolor</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th>Zniżka</th>
                <th>Suma</th>
            </thead>
            <tbody>
                {% for key , produkt in zamowienia.zamowienia.items() %}
                {% set znizka = "%0.2f" |format((produkt.znizka/100) * produkt.cena|float * produkt.ilosc|float) %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{produkt.nazwa}}</td>
                    <form action="{{url_for('edytujkoszyk', code=key)}}" method="post">
                    <td> 
                        {{produkt.kolor|capitalize}}                 
                    </td>
                    <td>{{produkt.cena}},-</td>
                    <td>{{produkt.ilosc}}</td>
                    {% if produkt.znizka > 0 %}
                    <td>{{produkt.znizka}}% &nbsp; = {{znizka}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% set suma = produkt.ilosc|int * produkt.cena|float %}
                    <td>{{"%0.2f"|format((suma|float) - znizka|float)}},-</td>
                </form>
                </tr>
                {% endfor %}
            </tbody>
            </table>
                <table class="table table-sm">
                <tr>
                    <td></td>
                    <td><a href="#" class="btn btn-success">Przejdź do kasy</a></td>
                    <td width="35%"></td>
                    <td><h5>Podatek: {{podatek}},-</h5></td>
                    <td><h4>Suma: {{sumaCalosc}},-</h4></td>
                    <td> <a href="#" class="btn btn-danger btn-sm float-right mr-2">PDF</a> </td>
                </tr>
            
        </table>
    </div>
</div>
</div>
{% endblock content %}
